body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-content {
    flex: 1;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.arcade_img {
    width: 120px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }

/* styles.css or inline style */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px; /* Gap between items */
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: orange;
}




.container {
    width: 100%;
}

.contact1 {
    float: left;
    width: 50%;
}

.contact2 {
    float: left;
    width: 50%;
}

.arcade_img {
    display: block;
    margin-left: auto;
    margin-right: auto
    width: 160px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }


.arcade-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.arcade-demo {
    width: fit-content;
    display: flex;
    text-align: center;
}

.canvas-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

.game-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.game-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    object-fit: cover;
    z-index: 1; /* Lower z-index to keep it behind the iframe */
}

.iframe-container {
    color: #fff;
    display: flex;
    position: absolute;
    top: %; 
    left: 50%; 
    width: 480px;
    height: 480px;
    transform: translate(-50%, -50%); /* Use transform for centering */
    overflow: hidden;
    z-index: 2;
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: black 1px solid;
}

.game-iframe {
    display: flex;
    position: absolute;
    width: 110%;
    height: 110%;
    border: none;
}


.game-instructions {
    margin-top: 0px; /* Adjust the margin value as needed */
    width: 100%;
    background-color: rgb(221, 220, 211);
    height: 100;
    text-align: center;
    border-top: 4px solid #ffa200;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.image-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align items */
  }

  .image-container img {
    max-width: 50%; /* Set the maximum width of the image */
    margin-right: 20px; /* Add some space between the image and text */
  }

  .text {
    flex: 1; /* Take up remaining space in the container */
  }